:host {
  overflow: hidden;
  background: black;
}

.capture-image {
  width: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.captured-image-not-present {
  display: none !important;
}

.action-button {
  position: absolute;
  bottom: 1em;
  margin-left: auto !important;
  margin-right: auto !important;
}
