<div class="capture-image">
  <ng-template #cameraTemplate>
    <webcam
      id="camera"
      *ngIf="!image"
      [trigger]="triggerObservable"
      (imageCapture)="handleImage($event)"
      [videoOptions]="videoOptions"
      [imageQuality]="1"
      [height]="cameraHeight"
      [width]="cameraWidth"
      #camera
    >
    </webcam>
  </ng-template>

  <ng-container id="cameraContainer" #cameraContainer></ng-container>

  <div class="captured-image" [class.captured-image-not-present]="!image">
    <img
      [height]="cameraHeight"
      [src]="image?.imageAsDataUrl"
      #capturedImage
      id="captured-image"
    />
  </div>

  <app-button-bar [config]="buttonBarConfig"></app-button-bar>
</div>
