:host {
  overflow: hidden;
  background: black;
}

.capture-image {
  width: 100%;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.captured-image-not-present {
  display: none !important;
}

.action-button {
  position: absolute;
  bottom: 1em;
  transform: translate(-50%, -50%);
}

webcam-container .webcam-wrapper,
.webcam-wrapper video {
  width: 100% !important;
  height: 100% !important;
}
