<div class="capture-image" #cameraContainer>
  <div *mcRerender="triggerRerender">
    <webcam
      id="camera"
      [height]="cameraHeight"
      [width]="cameraWidth"
      *ngIf="!image"
      [trigger]="triggerObservable"
      (imageCapture)="handleImage($event)"
      [videoOptions]="videoOptions"
      [imageQuality]="1"
      #camera
    >
    </webcam>
  </div>

  <div class="captured-image" [class.captured-image-not-present]="!image">
    <img
      [height]="cameraHeight"
      [width]="cameraWidth"
      [src]="image?.imageAsDataUrl"
      #capturedImage
      id="captured-image"
    />
  </div>

  <div>
    <button
      *ngIf="!image"
      mat-stroked-button
      class="action-button"
      (click)="triggerSnapshot()"
    >
      <fa-icon [icon]="cameraIcon"></fa-icon>
    </button>
    <button
      *ngIf="image"
      mat-stroked-button
      class="action-button"
      (click)="deleteImage()"
    >
      <fa-icon [icon]="deleteIcon"></fa-icon>
    </button>
  </div>
</div>
