<div class="capture-image">
  <webcam
    [width]="getScreenWidth()"
    *ngIf="!image"
    [trigger]="triggerObservable"
    (imageCapture)="handleImage($event)"
  >
  </webcam>

  <div class="captured-image" [class.captured-image-not-present]="!image">
    <img id="captured-image" [src]="image?.imageAsDataUrl" />
  </div>

  <div>
    <button
      *ngIf="!image"
      mat-stroked-button
      class="action-button"
      (click)="triggerSnapshot()"
    >
      <fa-icon [icon]="cameraIcon"></fa-icon>
    </button>
    <button
      *ngIf="image"
      mat-stroked-button
      class="action-button"
      (click)="deleteImage()"
    >
      <fa-icon [icon]="deleteIcon"></fa-icon>
    </button>
  </div>
</div>
