<mat-card class="vocab-card-container slider-item">
  <mat-spinner *ngIf="loading" class="progress-spinner"></mat-spinner>

  <div class="form-row-container slider-item">
    <mat-form-field class="slider-item">
      <mat-label>Japanese</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="vocabEntry.expression"
        [disabled]="loading"
      />
    </mat-form-field>

    <mat-form-field class="slider-item">
      <mat-label>Reading</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="vocabEntry.reading"
        [disabled]="loading"
      />
    </mat-form-field>
  </div>

  <mat-form-field class="slider-item">
    <mat-label>Meanings</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="vocabEntry.meanings"
      [disabled]="loading"
    />
  </mat-form-field>

  <mat-form-field class="slider-item">
    <mat-label>Example</mat-label>
    <input
      matInput
      type="text"
      [(ngModel)]="vocabEntry.example"
      [disabled]="loading"
    />
  </mat-form-field>

  <mat-chip-listbox class="tag-container">
    <mat-chip-option *ngIf="vocabEntry?.level">{{
      vocabEntry.level
    }}</mat-chip-option>
    <mat-chip-option *ngIf="vocabEntry?.common">Common</mat-chip-option>
  </mat-chip-listbox>

  <div class="button-container">
    <button mat-stroked-button [disabled]="loading" (click)="onCancelClick()">Cancel</button
    ><button
      mat-stroked-button
      color="primary"
      (click)="onSave()"
      [disabled]="loading"
    >
      Save
    </button>
  </div>
</mat-card>
