:host {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: auto;
}

.vocab-card-container {
  width: calc(100% - 2em);
  overflow: auto;
  padding: 0.5em;
  margin-bottom: 0.5em;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  button {
    margin-left: 1em;
  }
}

.tag-container {
  margin-left: 1em;
}

.progress-spinner {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
}


.slider-item {
    /*
  min-height: 1em;
  flex-grow: 1;
  flex-basis: 0;
  */
  /* min-height: 10%; */
  //overflow: auto;
}
