:host {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  overflow: auto;
}

.vocab-card-container {
  width: 100%;
  overflow: auto;
  padding: 0.5em;
  margin-bottom: 0.5em;
  overflow-x: hidden;
}

.tag-container {
  margin-left: 1em;
}

.progress-spinner {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
}

.bottom-button-bar {
  position: absolute;
  bottom: 0;
  background: white;
  width: 100%;
  box-shadow: 0px 0 10px rgb(0 0 0 / 10%);
}
