/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  overflow: hidden;
  overscroll-behavior-y: contain;
}

.form-row-container {
  display: flex;
  flex-direction: row;
  column-gap: 0.5em;
  * {
    flex-grow: 1;
  }
}

.p-splitter-panel {
  justify-content: center;
}

.p-splitter-gutter {
  background-color: lightgray;
  height: 10px !important;
}
